apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ .Release.Name }}-route
  namespace: {{ .Release.Namespace }}
spec:
  ingressClassName: envoy
  http:
    - name: {{ .Release.Name }}-route
      priority: {{ .Values.route.priority}}
      match:
        hosts:
          - {{ .Values.route.host }}
        paths:
          - {{ .Values.route.path }}
      backends:
        - serviceName: {{ .Release.Name }}
          servicePort: {{ .Values.service.port }}