apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ .Release.Name }}-route
  labels:
    app: {{ .Release.Name }}
    component: envoy-gateway
spec:
  parentRefs:
    - name: envoy-gateway
  hostnames:
    - {{ .Values.route.host }}
  rules:
    - backendRefs:
        - name: {{ .Release.Name }}
          port: {{ .Values.service.port }}